<div class="row">
    <div class="btn-group-vertical col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button class='btn btn-default backward-btn'>&lt;</button>
    </div>
    <div class="avg-latency col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
    <span class="btn-group-vertical col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button class='btn btn-default forward-btn'>&gt;</button>
    </span>
</div>

<h5>日平均延迟</h5>
